h1,h2,h3,h4{
    color: green;
    font-size: 18pt;
    font-family: 'Caveat', cursive;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14pt; 
}
.strophe{
    font-size: 14px;
}
#content{
   
    position: relative;

}
.firstparagraph{
    position: absolute;
    right: 20px;
}
#content,.strophe{
    color: gray;
}
body>p{
    font-size: 20px;
}
#content .strophe:hover{
    color: red;
}
.strophe:first-child{
    color:blue;
}
body{
    padding: 15px;
    background-color:rgb(225, 228, 62);
    border: 3px solid black;
    color: blue;
    margin: 20px;

}
p{
    color: black;
}
.strophe{
    color:gray
}
/*.strophe{
    color: gray !important;    Das ist für alle paragraf mit classe strophe in grau
                             machen. !important kommt immer als erste
}*/
#headline{
    position: relative;
    top:10px;
    left:5px;
    margin:0;
}

.date{
    position: relative;
    left:50px;

}
.author{
    position: static; /*bei static class kann css nichts verändern*/
    left:50;
}


